/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

/* VARIABLES */
:root{
    --primary-color:gray;
    --dark-color: #0F0F0F;
    --gray-color: gray;

    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --small-font-size: 14px;
}
/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    color: #0F0F0F;
}


/* GLOBAL CSS */
 section{
    padding: 70px 0;
 }
section .section-title{
    font-size: var(--h2-font-size);
    font-weight: bold;
    text-transform: uppercase;
}

.btn-purple{
    background-color: var(--primary-color);
    color: white;
}

.btn-purple:hover{
    background-color: var(--primary-color);
    color: white;
}

.text-purple{
    color: var(--primary-color);
}

.text-dark{
    color: #fff;
}

.fs-7{
    font-size: var(--small-font-size);
}

.form-control:focus{
    box-shadow: none;
    border-color: var(--primary-color);
}
/* CSS PER SECTION */

/* NAVBAR */
.navbar .navbar-brand{
    animation: flicker 4.5s infinite alternate;
    color: var();
}



.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active{
    color: var(--primary-color);
    text-decoration: underline;
}

/* HEADER */
.header-section .header-title{
    font-size: var(--h1-font-size);
}

.header-section .header-skills{
    color: var(--primary-color);
}

.header-section .header-skills:hover{
    color: var(--primary-color);
}

.header-section .header-skills i{
    transition: transform .3s;
}

.header-section .header-skills:hover i{
    transform: translateX(.25rem);
}

.header-section .header-img,
.skills-section .skills-img{
    width: 90%;
}
.home__blob{
    width: 400px;
    fill: var(--primary-color);
  }
  
  .home__blob-img{
    width: 180px;
    height: 170px;
  }
/* PORTFOLIO */
.contact-section .card .card-img-top{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.portofolio-section .card .card-img-top {
    height: 240px;
    width: 100%;
    display: flex;
    object-fit: cover;
  }


  /* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
    height: 2rem;
  }
  
  .email-icon {
    height: 2.5rem;
  }
  /* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }
  



@media screen and (max-width: 768px) {
    .contact-section .card .card-img-top{
        height: 100px;
    }

    
}
